/* App.css */

.app-container {
  display: flex;
  background-color: #000; 
}

.resizable-component {
  border: 1px solid #6a00ff; /* Neon purple border color */
  margin: 10px;
  overflow: hidden;
  background-color: #6a00ff; /* Neon purple background color */
  color: #fff; /* White text color */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.resizable-component:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
